# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties
android/app/streamvault.jks
*.jks
keystore.txt

# iOS
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.flutter-plugins
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/
.gradle/

# VS Code
.vscode/

# macOS
.DS_Store

# Build outputs
*.apk
*.aab
*.ipa
